@page "/puzzles/{year:int}"

<PageTitle>@Year</PageTitle>

    <div class="container">
    <div class="h2">Year: @Year</div>
    <div class="row">
        <div class="col-xl-2">
            <ul>
                @foreach (var day in Days)
                {
                    <button class="action" @onclick="@(() => ActivateDay(day))">[@day]</button><br>
                }
            </ul>
        </div>
        <div class="col-xl-10">
            @if (@ActiveDay != "")
            {
                <div class="container">
                    <div class="h3">Day: @ActiveDay</div><a target="_blank" href="@PuzzleLink">Puzzle@aoc</a>
                    <div class="row">
                        <div class="col star">Star 1
                            <div class="row">
                                <div class="col"><button disabled="@Star1ButtonStatus" class="action" @onclick="RunStar1">@Star1Button</button></div>
                                <div class="col">@Star1</div>
                                @if(Star1Ms > -1){
                                    <div class="col">@Star1Ms ms</div>
                                }
                            </div>
                        </div>
                        <div class="col star">Star 2
                            <div class="row">
                                <div class="col"><button disabled="@Star2ButtonStatus" class="action" @onclick="RunStar2">@Star2Button</button></div>
                                <div class="col">@Star2</div>
                                @if(Star2Ms > -1){
                                    <div class="col">@Star2Ms ms</div>
                                }
                            </div>
                        </div>
                    </div>
                    @if(SourceLink != string.Empty)
                    {
                        <div class="row">
                            <div class="col source">
                                <a target="_blank" href="@SourceLink">Source@Github</a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>