@page "/puzzles/{year:int}"
@attribute [RenderModeInteractiveServer]

<PageTitle>@Year</PageTitle>

    <div class="container">
    <div class="h2">Year: @Year</div>
    <div class="row">
        <div class="col-xl-2">
            <ul>
                @foreach (var day in Days)
                {
                    <a class="action" @onclick="@(() => ActivateDay(day))" @onclick:preventDefault>[@day]</a><br>
                }
            </ul>
        </div>
        <div class="col-xl-10">
            @if (@ActiveDay != "")
            {
                <div class="container">
                    <div class="h3">Day: @ActiveDay</div>
                    <div class="row">
                        <div class="col star">Star 1
                            <div class="row">
                                <div class="col"><a class="action" @onclick="@(() => RunStar1())" @onclick:preventDefault>[Run]</a></div>
                                <div class="col">@Star1</div>
                                @if(Star1Ms > -1){
                                    <div class="col">@Star1Ms ms</div>
                                }
                            </div>
                        </div>
                        <div class="col star">Star 2
                            <div class="row">
                                <div class="col"><a class="action" @onclick="@(() => RunStar2())" @onclick:preventDefault>[Run]</a></div>
                                <div class="col">@Star2</div>
                                @if(Star2Ms > -1){
                                    <div class="col">@Star2Ms ms</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>